<div class="hero">
	<nav>
		<div class="logoo">
			<img src="https://gegechkori.ru/img/icons/pikabu.svg" alt="cupcake">
			<a routerLink="['/']"><h2 class="logo">pikabu</h2></a>
		</div>
	
		<ul>
			<li><a href="#">Лучшее</a></li>
			<li><a href="#">Свежее</a></li>
			<li><a href="#">Подписки</a></li>
			<li><a href="#">Блоги</a></li>
			<li><a href="#">Курсы</a></li>
			<!-- <li><input class="search" type="text" placeholder="Поиск"></li> -->
		</ul>
		<a routerLink="login/"><button type="button">Войти</button></a>
	</nav>
</div>
