.comment {
display: flex;
flex-direction: column;
margin-bottom: 20px;
padding: 10px;
background-color: #f9f9f9;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.likes {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.likes button {
padding: 5px;
font-size: 20px;
background-color: transparent;
border: none;
cursor: pointer;
}

.likes button:hover {
color: #333;
}

.upvote {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.downvote {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.text {
margin-bottom: 10px;
}

.details {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
color: #666;
}

.details span:first-child {
margin-right: 10px;
}

.details span:last-child {
font-style: italic;
}

.comment .date{
position: absolute;
top: 5px;
right: 5px;
font-size: 0.6em;
font-family: serif;
}
