.comment {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.likes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.likes span {
    margin: 0 20px;
}

.text {
  margin-bottom: 10px;
}

.details {
  color: #999;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.details span:first-child {
  margin-right: 10px;
}


.likes button.upvote {
    border: 10px solid transparent;
    border-bottom: 10px solid #000;
    border-top: none;
}

.likes button.downvote {
    border: 10px solid transparent;
    border-top: 10px solid #000;
    border-bottom: none;
}
.delete-button,
.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-left: 5px;
}

.delete-button:hover,
.edit-button:hover {
  color: #d9534f;
}

.delete-button fa-icon,
.edit-button fa-icon {
  font-size: 16px;
}
