.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 200px;
  height: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-btn {
  width: 20px;
  height: 20px;
  background: #2e3d50;
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-btn:hover {
  background: #ef233c;
}
