<div class="search">
  <app-search-bar (searchTextChanged)="onSearchTextEntered($event)"></app-search-bar>
</div>

<div>
  <div *ngIf="posts" class="feed">
    <div *ngFor="let post of posts">
      <ng-container  *ngIf=" searchText === '' ||  post.title.toLowerCase().includes(searchText)">
        <app-post [post]="post"></app-post>
      </ng-container>
    </div>
  </div>
  <app-login-menu></app-login-menu>
</div>
<app-post *ngFor="let post of posts" [post]="post" (postsChange)="onPostsChange($event)"></app-post>
