<div class="post-wrapper">
  <div class="vote-buttons">
    <button (click)="upvote()" class="upvote"><i class="arrow up"></i></button>
    <p>{{ post.post_likes }}</p>
    <button (click)="downvote()" class="downvote"><i class="arrow down"></i></button>
  </div>
  <div class="post">
    <div class="post-header">
      <h2>{{ post.title }}</h2>
    </div>
    <p class="date"> {{post.created_date | date}} </p>
    <hr>
    <div class="post-body">
      <p>{{ post.body }}</p>
    </div>
    <br>
    <p>By <a (click)="filterByAuthor(post.author)">{{ post.author_username }}</a></p>
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
    <div class="post-footer">
      <button class="comments"><a [routerLink]="['/posts', post.id, 'comments']">View Comments</a></button>
      <button *ngIf="isEditable()" class="delete-button" (click)="deletePost(post.id)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
      <button *ngIf="isEditable()" class="edit-button" (click)="editPost()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
    </div>
  </div>
</div>
